@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

//colors

$color_darkshade100: #1f2041;
$color_darkshade75: #575870;
$color_darkshade50: #8f8fa0;
$color_darkshade25: #c7c7cf;
$color_darkshade5: #f4f4f5;
$color_purple: #bc9cff;
$color_green: #6fcf97;
$purple_gradient: linear-gradient(to bottom, #BC9CFF, #8BA4F9);

//fonts

$font-stack: 'Montserrat', sans-serif;

//text-type




//buttons start

button:focus {outline: none;}

%emptyButton {
    background-color: #fff;
    border-radius: 22px;
    padding: 8px 18px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    border: none;
    font-family: $font-stack;
    color: $color_purple;
    cursor: pointer;
}

%filledButton {
    background: $purple_gradient;
    border-radius: 22px;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    border: none;
    font-family: $font-stack;
    color: #fff;
    cursor: pointer;
}

.empty-btn-wrapper {
    background: $purple_gradient;
    border-radius: 22px;
    padding: 2px;
}

//buttons end


//media queries start

//breakpoints

$desktop: 1200px;
$laptops: 992px;
$tablets: 768px;
$phones: 600px;

@media only screen and (max-width: $desktop) {
    //header
    .nav {
        margin: 0 20px !important;
    }
}

@media only screen and (max-width: 920px) {
    //header
    #signup-btn {
        display: none;
    }

    header {
        .nav {
            div.empty-btn-wrapper {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    //header
    header {
        .nav {
            div.empty-btn-wrapper {
                display: none;
            }
        }
    }

    header {
        .nav {
            ul {
                li.last {
                    margin-right: 0;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 600px) {
    //header
    header {
        .nav {
            ul {
                display: none;
            }
        }
    }
    
}

@media only screen and (min-width: 600px) {
    //header
    #burger-menu {
        display: none;
    }
    
}

//medua queries end

//basic styling start

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-stack;
    font-size: 14px;
    line-height: 24px;
    color: $color_darkshade75;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: $color_darkshade100;
}

h2 {
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: $color_darkshade100;
}

h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $color_darkshade100;
}

// basic styling end


// header start

header {
    font-size: 14px;
    color: $color_darkshade50;
    line-height: 17px;
    font-style: normal;
    font-weight: normal;
      a:link {
        color: $color_darkshade50;
        text-decoration: none;
      }
      a:visited {
        color: $color_darkshade50;
        text-decoration: none;
      }
      a:hover {
        color: $color_darkshade50;
        text-decoration: none;
      }
      a:active {
        color: $color_darkshade50;
        text-decoration: none;
      }
}

.nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 1160px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
    ul {
        list-style: none;
        margin-left: auto;
        
        li {
            display: inline;
            margin-right: 20px;
        }
    }

    div.empty-btn-wrapper {
        margin-right: 20px;
    }

       
}

div.logo {
    img {
        margin-top: 5px;
    }
}

#arrowdown {
    
    fill: $color_darkshade50;
}

#login-btn {
    @extend %emptyButton;
}

#signup-btn {
    @extend %filledButton;
}

#burger-menu {
    margin-left: auto;
    height: 30px;
    width: 30px;
    border: 2px solid;
    border-radius: 6px;
    padding: 2px;
    padding-top: 3px;
}

//header end


//main section background
.bg {
    width: 100%;
    height: 830px;
    background-image: url(../resources/img/bg.png);
    background-size: cover;
}

